/*  FOR THE SCROLLBAR  */

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: #454142;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #84919A;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #84919A;
  }
  